# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\PYworkspace\MachineLearning_new\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
